@import 'src/utils/styles.scss';

.form {
    @include centreIt(column);

    >form {
        padding: 0.6rem;
        width: 100%;
        max-width: 25em;
        @include centreIt(column);

        >input {
            // rgb(80, 211, 68);

            width: 100%;
            padding: 0.5rem;
            margin: 0.4rem;
            display: inline-block;
            border: 1px solid $primary_dark;
            border-radius: 5px;
            outline: none;
        }

        .submit-button {
            border: none;
            cursor: pointer;
            background-color: $primary_dark;
            color: white;
        }
    }
}

.form-container{
    height: 100%;
    @include centreIt(column);

    .form-title { 
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0.7rem;
    }
}