@import 'src/utils/styles.scss';

.sub-menu-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: $primary_dark;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
        transition-delay: 0ms;
    }

    &:nth-child(2) {
        transition-delay: 0.1s;
    }

    &:nth-child(3) {
        transition-delay: 0.2s;
    }

    &:nth-child(4) {
        transition-delay: 0.3s;
    }

    &:nth-child(5) {
        transition-delay: 0.4s;
    }

    .sub-menu-item-icon {
        @include centerIt();
        height: 100%;

        svg {
            width: 85%;
        }

        path {
            fill: $secondary_light;
        }
    }
    
    .sub-menu-item-label {
        color: $secondary_light;
        font-size: 0.8em;
        margin: auto;
    }
}

.sub-menu-bar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $primary_dark;
    position: fixed;
    bottom: 3%;
    left: 48%;

    .sub-menu-switch {
        width: 75%;
        height: 75%;
        color: $primary_light;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        background: linear-gradient(145deg, #414268, #373857);
        box-shadow:  2px 2px 2px #181927,
                    -2px -2px 2px #62639b;
        transform: translate(-50%, -50%);
        z-index: 500;
        cursor: pointer;
        @include centerIt();
        // text-align: center;
    }

    .sub-menu-items {
        &.show-sub-menu-items {
            .sub-menu-item {
                &:nth-child(1) {
                    left: -90%;
                }
            
                &:nth-child(2) {
                    top: -45%;
                    left: -45%;
                }
            
                &:nth-child(3) {
                    top: -90%;
                }
            
                &:nth-child(4) {
                    left: 145%;
                    top: -45%;
                }
            
                &:nth-child(5) {
                    left: 190%;
                }
            }
        }
    }
}

.mobile {
    .sub-menu-item {
        .sub-menu-item-icon {
            height: auto;
        }
    }
}