@import 'src/utils/styles.scss';

.publish {
    h2 {
        margin: 0.8rem 0;

        .h2-heading {
            padding: 0.2rem 0.5rem 0.2rem 0;
            display: inline-block;
            border-bottom: 1px solid $primary_dark;
        }
    }

    .publish-sec-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        .publish-sec-item {
            background-color: $primary_light;
            display: inline-grid;
            grid-template-columns: 3fr 1fr;
            padding: 0.2rem 0.4rem;
            margin: 0.4rem;
            max-width: 25rem;

            .publish-sec-item-title {
                display: inline-block;
                padding: 0.5em;
            }

            .publish-sec-item-type {
                text-align: center;
                padding: 0.5rem;
                border-left: 1px solid;
            }

            &.publish-option {
                background-color: $primary_yellowOchre_light;

                .publish-sec-item-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .publish-sec-item-type {
                    font-size: 1.5em;
                }
            }
        }

        .mobile & {
            grid-template-columns: 1fr;
        }
    }
}